snippet newkls
"""
Docstring here
Author: 
Date:
"""

class Bob:

	def __init__(self):
		"""
		init for Bob
		"""

	def __call__(self):
		"""
		call for Bob
		"""
if __name__=='__main__':
	bob=Bob()
	bob()
endsnippet
