snippet todo
#XXX TODO: ${1:desc} ${2:`date +%Y/%m/%d`} ${3: (`echo $USER`)}
endsnippet

snippet fix
#XXX FIXME: ${1:desc} ${2:`date +%Y/%m/%d`} ${3: (`echo $USER`)}
endsnippet

snippet #!
#!/usr/bin/env python
# -*- coding: utf-8 -*-
endsnippet

snippet pp
from pprint import pprint as pp
endsnippet

